<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
    <!-- Sidebar toggle button-->
    <div class="container">
       <span class="navbar-brand border-white ">Admin Panel</span>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
               <li class="nav-item">
                    <a asp-controller="Profile" asp-action="Profile" class="btn btn-success" asp-area="Member" asp-route-UserName="@User.Identity.Name">My Account</a>
                </li>
                <li class="nav-item ml-1">
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger" asp-area="Member">Hi, @User.Identity.Name, Log out</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
