@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box">
        <div class="box-header with-border">
          

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <h2>Please <a asp-action="Login" asp-controller="Account"><b class="text-danger">Login</b></a> or <a asp-action="Register" asp-controller="Account"><b class="text-blue">Register</b></a></h2>
        </div>
     
    </div>
