@model FinalProject.Associate.DTO.TweetDTO
    <div class="row">
        <div class="col-md-6 mt-2">
            <form asp-action="Add" asp-controller="Tweet" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group ">
                    <span><textarea style="background-color:black" placeholder="Neler oluyor?" id="content" asp-for="Content" class="form-control p-0 my-0"></textarea><input type="file" id="myFile" name="image" /></span><br />
                    <img src="" id="myImg" style="visibility:hidden"/>
                     <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="button" id="ekle" value="Tweetle" class="btn-xs btn-primary" />
                </div>
            </form>
        </div>
    </div>